<configuration>
	<appSettings>
		<add key="Local_server" value="True" />
		<add key="ASPNETCORE_ENVIRONMENT" value="Development" />
		<add key="DB_NAME" value="BIEDB" />
		<add key="DB_PASSWORD" value="1234" />
		<add key="DB_SERVER" value="LPTP-308\SQLEXPRESS" />
		<add key="DB_USERNAME" value="Ahsan" />
		<add key="DB_TYPE" value="SQL" />
		<add key="TRUSTED" value="False" />
	</appSettings>
</configuration>