.dataview-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid gray;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.dataview-header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
}

.dataview-header-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dataview-title-container {
  display: flex;
  flex-direction: row;
}
