.dataview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid gray;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  position: relative;
}

.dataview-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dataview-empty h2 {
  margin-top: 0;
}

.dataview-empty-button {
  width: 50%;
  margin-top: 4rem;
}

.dataview-empty-button .MuiButtonBase-root {
  width: 100%;
}

.dataview-empty-button .MuiButtonBase-root:focus {
  outline: none;
}

.dataview-header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
  gap: 1rem;
}

.dataview-header-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
}

.dataview-title-container {
  display: flex;
  flex-direction: row;
}

.load-data-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 0;
}

.load-data-button {
  width: 50%;
}

.load-data-container .MuiButtonBase-root {
  width: 100%;
}

.load-data-container .MuiButtonBase-root:focus {
  outline: none;
}

.load-data-reload {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.load-data-reload svg {
  width: 1rem;
  height: 1rem;
}

.sub-text {
  color: gray;
  font-size: 0.6rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure the spinner is on top */
}
