.multimap-container {
  height: 100%;
  width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.tab-list-container {
  display: flex;
  justify-content: space-between;
  transform: translateY(1px);
}

.tab {
  border: 1px solid gray;
  height: 100%;
}

.add-tab-button {
  background-color: white;
  border-color: black;
  color: black;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.4rem;
  min-width: 2rem;
  min-height: 2rem;
  width: 2rem;
  height: 2rem;
}

.add-tab-button:hover {
  background-color: rgb(245, 245, 245);
  border-color: black;
}

.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3 !important;
}

.MuiBox-root {
  border: none !important;
}

.MuiTab-root {
  border: 1px solid gray !important;
  background-color: white !important;
  text-transform: none !important;
}

.MuiTab-root:hover {
  background-color: rgb(245, 245, 245) !important;
  transition: all 0.2s ease-in-out;
}

.Mui-selected {
  border-color: black !important;
  color: black !important;
  border-bottom: none !important;
}

.Mui-selected:hover {
  background-color: white !important;
}

.Mui-selected:focus {
  outline: none !important;
}

.MuiTabs-indicator {
  visibility: hidden;
}
