.search-map-icon-container {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  top: 7.5rem;
  right: 0.6rem;
  cursor: pointer;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.27);
  box-shadow: none;
}

.search-map-icon-container:hover {
  background-color: #f4f4f4;
  color: #535bf2;
}

.search-map-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.layers-map-icon-container {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  top: 5rem;
  right: 0.6rem;
  cursor: pointer;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.27);
  box-shadow: none;
}

.layers-map-icon-container:hover {
  background-color: #f4f4f4;
  color: #535bf2;
}

.options-icons {
  width: 1.5rem;
  height: 1.5rem;
}

.search-bar {
  position: absolute;
  z-index: 2;
  top: 0.6rem;
  left: 0.6rem;
}

.image-hover-effect {
  border-radius: 8px;
  border: 1px solid #ddd;
}

.image-hover-effect:hover {
  border-color: blue;
}

.threed-map-icon-container {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  top: 7.5rem;
  right: 0.6rem;
  cursor: pointer;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.27);
  box-shadow: none;
}
.threed-map-icon-container:hover {
  background-color: #f4f4f4;
  color: #535bf2;
}

.draw-polygon-icon-container {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  top: 10rem;
  right: 0.6rem;
  cursor: pointer;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.27);
  box-shadow: none;
}
.draw-polygon-icon-container:hover {
  background-color: #f4f4f4;
  color: #535bf2;
}
