.app-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-container {
  display: flex;
  overflow: hidden;
  height: 100%;
  position: relative;
  padding: 0.6rem;
}

.multi-map {
  position: relative;
  width: 50%;
  transition: width 0.5s;
}

.multimap-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  position: relative;
}

.data-view {
  width: 50%;
  position: relative;
  transition: width 0.5s;
  overflow: hidden;
  box-sizing: border-box;
}

.hidden {
  width: 0;
  overflow: hidden;
  padding: 0px;
}

.full-width {
  width: 100%;
}

.toggle-data-view-button {
  position: absolute;
  z-index: 5;
  top: 7px;
  right: 0px;
  align-self: end;
  padding: 0;
  padding-top: 3px;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  min-height: 2rem;
  width: 2rem;
  height: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
  border-color: gray;
  color: gray;
  border-right: 0;
}

.toggle-button:hover {
  background-color: rgb(245, 245, 245);
  border-color: black;
  color: black;
}

.toggle-button:focus {
  color: black;
  border-color: black;
}
